@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

.App{
  font-family: 'Muli', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0 5%;
  width: 90vw;
}

.panel, .panel1, .panel2, .panel3, .panel4 {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 80vh;
  border-radius: 50px;
  color: #fff;
  cursor: pointer;
  flex: 0.5;
  margin: 10px;
  position: relative;
  transition: all 700ms ease-in; 
}

.panel h3, .panel1 h3, .panel2 h3, .panel3 h3, .panel4 h3 {
  font-size: 24px;
  position: absolute;
  bottom: 20px;
  left: 20px;
  margin: 0;
  opacity: 0;
}

.panel{
  background-image: url('https://img.freepik.com/foto-gratis/puente-madera-isla-koh-nangyuan-surat-thani-tailandia_335224-1082.jpg?w=1800&t=st=1660001905~exp=1660002505~hmac=5729801abb048abd23a921eac9d2bf89c9d84753798fb12a63b34288b39b82ad');
}

.panel1{
  background-image: url('https://img.freepik.com/foto-gratis/cascada-erawan-tailandia-hermosa-cascada-piscina-esmeralda-naturaleza_335224-776.jpg?w=1800&t=st=1660002039~exp=1660002639~hmac=ca6f66fd97296616f3cbb780a3c697a646cf6e476fd0699d015151013393d805');
}

.panel2{
  background-image: url('https://img.freepik.com/foto-gratis/isla-maldivas_74190-477.jpg?w=1800&t=st=1660002093~exp=1660002693~hmac=b68b74e8fdf4999f90f1f9b732cef5c558bf4657ef7689eda056d02ff12f1254');
}

.panel3{
  background-image: url('https://images.unsplash.com/photo-1507525428034-b723cf961d3e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1353&q=80');
}

.panel4{
  background-image: url('https://img.freepik.com/foto-gratis/al-atardecer-playa-tropical-mar-palmera-coco_74190-1075.jpg?w=1800&t=st=1660002065~exp=1660002665~hmac=b05d702e1a701a56eb254da403d7b066594245d605c1b2b2cb6d437ff9515b4d');
}

.panel.active, .panel1.active, .panel2.active, .panel3.active, .panel4.active{
  flex: 5;
}
.panel.active h3, .panel1.active h3, .panel2.active h3, .panel3.active h3, .panel4.active h3 {
  opacity: 1;
  transition: opacity 0.3s ease-in 0.4s;
}


